@charset "utf-8";

@media only screen and (min-device-width: 300px) and (max-device-width: 500px)
{
	.filter-selects {	
		margin: 0px 30px;
	}
	
	#restaurant-container{
		flex-flow: column;
	}

	.restaurant-updated {
		width:100%;		
	}

	.restaurant-cleanup {
		width:100%;
	}
	
	#restaurant-img {
		height: 200px;
		width: auto;		
	}
	
}
@media screen and (min-width: 501px) 
{

	#restaurants-list li {
	  max-width: 40%;
	}

	#restaurant-address {
		font-size: 12pt;
		padding-left: 10px;
		padding-right: 10px;
	}

}
@media screen and (min-width: 1000px) 
{

	.container, .inside {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#restaurants-list li {
	  max-width: 25%;
	}
s		
}